<footer class="footer">
    <nav class="footer-links">
        <a class="link">Legal</a>
        <a class="link">Cookies</a>
        <p>
            <a class="link">Información sobre los anuncios</a>
        </p>
    </nav>

    <section class="country-section">
        <div class="country">
            <span class="country-name">España</span>
            <img class="flag" src="./assets/images/es.svg" alt="bandera España" />
            <div class="copyright">©2022 Spotify AB</div>
        </div>
    </section>

</footer>