<header class="header">

    <div class="container">
        <img src="./assets/images/logo.png" alt="logo Spotify" />
        <img class="menu-icon" src="./assets/images/menu-icon.png" alt="menu icon" />
    </div>

    <nav class="hamburger_menu">
        <ul class="list-header">
            <li class="list_item"> <a href="#">Premium</a></li>
            <li><a href="#">Ayuda</a></li>
            <li> <a href="#">Descargar</a></li>
            <li> <a href="#">|</a></li>
            <li> <a href="#">Registrarse</a></li>
            <li><a href="#">Iniciar sesión</a></li>
        </ul>
    </nav>

</header>