<section>

    <h2 class="subttitle">¿Por qué pasarte a Premium?</h2>

    <div class="benefits">

        <include src="./article.html" title="Descarga música" image_name="benefit-1" subtitle="Llévala siempre contigo">
        </include>

        <include src="./article.html" title="Sin anuncios" image_name="benefit-2"
            subtitle="Disfruta de música sin interrupciones">
        </include>

        <include src="./article.html" title="Escucha lo que quieras" image_name="benefit-3"
            subtitle="Incluso en el móvil">
        </include>


        <include src="./article.html" title="Salta todas las canciones que quieras" image_name="benefit-4"
            subtitle=" Simplemente dale a siguiente">
        </include>

    </div>

</section>