.footer {
  background-color: $black;
  color: $white;
  display: flex;
  padding: 30px 20px;
  justify-content: space-between;
  font-size: 12px;
}

.link {
  padding-right: 10px;
}

.footer-links {
  max-width: 51%;
  padding-top: 23px;
}

.country {
  text-align: right;
  box-sizing: border-box;
}

.country-name {
  padding-right: 5px;
}

.copyright {
  padding-top: 5px;
}

.flag {
  width: 20px;
}
