@import "core/variables";
@import "core/reset";
@import "components/code";
@import "components/links";
@import "layout/header";
@import "layout/footer";
@import "layout/whiteSection";
@import "layout/blueSection";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: $font;
}

@media all and (min-width: 780px) {
  .menu-icon {
    display: none;
  }

  .list-header {
    display: block;
  }

  .hamburger_menu {
    display: flex;
    flex-direction: row;
    color: white;
  }

  .blue_header_home {
    background-image: url(../images/premium_dancer.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: right;
    background-size: contain;
  }

  .blue_header_home .button {
    width: 250px;
  }

  .benefits article {
    flex: 50%;
  }
}

/* Desktop */

@media all and (min-width: 1000px) {
  .benefits article {
    flex: 25%;
  }

  .benefits article {
    flex-direction: column;
    align-items: center;
  }

  .benefits article .content {
    align-items: center;
  }

  .benefits article .content h3 {
    text-align: center;
  }
}
